:root {
    --fbcolor: teal;
    --dark: rgb(48, 48, 48);
}

* {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    background-color: rgb(207, 229, 237);
}

div.viewport {
    width: 100%;
}

nav {
    height: 4rem;
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
}        

nav h1 {
    background-color: var(--fbcolor);
    font-size: 2rem;
    color: var(--dark);
    width: 13rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none;
    padding: 1.3rem;
}

a {
    color: var(--fbcolor);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 5px solid var(--fbcolor);
}

header {
    height: 10rem;
    background-image: url("https://github.com/bpoole53/ben-poole-portfolio-project/blob/main/assets/images/BackgroundHomework2.jpg?raw=true");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: end;    
}

header img {
    position: absolute;
    top: 0rem;
    left: 5rem;
    height: 6rem;
    width: 6rem;
}

header h2 {
    background-color: var(--fbcolor);
    color: var(--dark);
    font-size: 2rem;
    margin-right: 4rem;
    margin-bottom: 1.8rem;
}


main {
    color: var(--dark);
}

#about_section {
    color: var(--dark);
}

.about {
    width: 80%;
    margin-top: 6.5rem;
    margin-left: 18rem;
    margin-right: 8rem;    
}

.about h1 {
    position: absolute;
    top:20rem;
    left: 7rem;
    font-size: 3.5rem;
}    

.about h2 {
    position: absolute;
    top:25rem;
    left: 12.1rem;
    font-size: 3.5rem;
}


.about p {
    border-left: .5rem solid var(--dark);
    padding-left: 2.5rem;
    padding-bottom: 2.5rem;
    margin-right: 4rem;
}

#work_section {
    color: var(--dark);  
}

.work {
    position: relative;          
}

#mainwork {
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 3.5rem;    
}

#mainworkimage {
    height: 30rem;
    width: 65%;
    margin-left: 30%;
    margin-bottom: 15%;
    margin-top: 5%;
   
    /*padding-left: 18rem;
    padding-top: 5rem;*/
    border: .2rem solid var(--fbcolor);
}

.box1 img{
    width: 30%;
    height: 6rem;
    position: absolute;
    left: 30%;
    bottom: 20.5%; 
    border: .2rem solid var(--fbcolor);
}

.box2 img{
    width: 30%;
    height: 6rem;
    position: absolute;
    right: 5%;
    bottom: 1%;   
    border: .2rem solid var(--fbcolor);
}

.box3 img{
    width: 30%;
    height: 6rem;
    position: absolute;
    left: 30%;
    bottom: 1%;
    border: .2rem solid var(--fbcolor);
    
}

.box4 img{
    width: 30%;
    height: 6rem;
    position: absolute;
    right: 5%;
    bottom: 20.5%;    
    border: .2rem solid var(--fbcolor);
}

/*.box1 h1 {
    position: absolute;
    left: 30%;
    bottom: 20.5%; 
    
}

.box2 h1 {
    position: absolute;
    right: 5%;
    bottom: 1%; 
}

.box3 h1 {
    position: absolute;
    left: 30%;
    bottom: 1%;
}

.box4 h1 {
    position: absolute;
    right: 5%;
    bottom: 20.5%;
}

.box1 p {
    position: absolute;
    left: 30%;
    bottom: 20.5%;
}

.box2 p {
    position: absolute;
    right: 5%;
    bottom: 1%;
}

.box3 p {
    position: absolute;
    left: 30%;
    bottom: 1%;
}

.box4 p {
    position: absolute;
    right: 5%;
    bottom: 20.5%;
}
*/