:root {
    --fbcolor: teal;
}

* {
    box-sizing: border-box;
    font-size: 18px;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
}

.navigation {
    width: 100%;
    height: 4rem;
    background-color: darkgray; 
}

nav {
    
}    

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: .9rem;
}

a {
    color: var(--fbcolor);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 5px solid var(--fbcolor);
}

div.myname {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.myname h1 {
    background-color: var(--fbcolor);
    font-size: 2rem;
    color: darkgray;
    max-width: 15%;
}




.content {
    margin-top: 100px;
}

.lorem h2 {
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 30px;
}

.lorem p {
    font-size: 40px;
    max-width: 1000px;
}